version: "3"
services:
  server:
    image: chajyn/hong:server2 
    container_name: server
    ports:
      - "5000:3030"
    volumes:
      - ./server2/.env:/usr/src/server/.env
    networks:
      - backend
  nginx:
    image: chajyn/hong:react-server2
    container_name: nginx
    depends_on:
      - server
    ports:
      - "80:80"
    volumes:
      - ./nginx/public:/usr/share/nginx/public/public
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - backend

networks: # basic bridge network
  backend:
    driver: bridge
